.hero {
    position: relative;
    height: 100vh; /* Pełna wysokość ekranu */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Wideo ląduje pod tekstem */
}

.video-background iframe {
    width: 100vw;
    height: 56.25vw; /* Proporcje 16:9 */
    min-height: 100vh;
    min-width: 177.77vh; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Użytkownik nie może kliknąć w pauzę */
}

.hero-text {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7); /* Aby tekst był czytelny na tle filmu */
}
